MONGODB_URI=mongodb://127.0.0.1:27017/formcraft
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=formcraft-local-development-secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=
EMAIL_FROM=
NEXT_PUBLIC_APP_URL=http://localhost:3000
MONGODB_DNS_SERVERS=1.1.1.1,8.8.8.8
